.center {
    text-align: center;
}

#red {
    color: red;
}

#blue {
    color: blue;
}

#green {
    color: green;
}

#big {
    font-size: xx-large;
}

#tiny {
    font-size: xx-small;
}

.bolded {
    font-weight: bold;
}

#creative {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#wack {
    font-size: larger;
    color: orange;
    font-weight: bold;
}

.styledFont {
    font-size: large;
    color: green;
}

#styledImage{
    border-style: solid;
    border-width: 10px;
    border-color: red;
    border-radius: 3px;
}